:root {
    --sidebar-left-width: 15%;
    --sidebar-right-width: 15%;
    --main-width: calc( 100% - var(--sidebar-left-width) - var(--sidebar-right-width));
    --font-family-ch: Microsoft JhengHei, Microsoft YaHei, DFKai-SB;
}

.container {
    width: 1000px;
    margin: auto;
    background-color: #ddd;
}

.div-top {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #333;
}

.div-sidebar-left {
    height: 100%;
    width: var(--sidebar-left-width);
    background-color: #aaa;
    float: left;
}

.div-sidebar-right {
    height: 100%;
    width: var(--sidebar-right-width);
    background-color: #aaa;
    float: right;
}

.div-main {
    height: 1500px;
    width: var(--main-width);
    margin: auto;
    background-color: #ada;
}

.div-foot {
    height: 50px;
    width: 100%;
    background-color: #aad;
}

.div-top-title {
    margin: 5px;
    display: inline-block;
    font-family: var(--font-family-ch);
    color: white;
}

.div-top-title>div {
    margin-left: 10px;
}

.top-title {
    font-size: 30px;
    font-weight: bold;
}

.top-subtitle {
    font-size: 20px;
    padding-left: 20px;
}

.div-nav {
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
}

.div-nav>a {
    text-decoration:none;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 20px;
}

.div-nav>a:hover {
    color: yellow;
}